<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Bells N Bottoms</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" href="static/assets/images/logo.png">

	<!-- Raleway Google fonts  -->
	<link href='static/assets/css/raleway-google-fonts.css' rel='stylesheet' type='text/css'>

	<link href="static/assets/css/material-icons.css" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="static/assets/css/cdnjs-materialize.min.css">



	<link rel="stylesheet" href="static/assets/css/normalize.css">
	<link rel="stylesheet" href="static/assets/css/fonticons.css">
	<link rel="stylesheet" href="static/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/assets/css/bootstrap.css">

	<!-- For navmenu css -->
	<link rel="stylesheet" href="static/assets/css/navmenu.css" />

	<!--For Plugins external css-->
	<link rel="stylesheet" href="static/assets/css/plugins.css" />

	<!--Theme custom css -->
	<link rel="stylesheet" href="static/assets/css/style.css">

	<!--Theme Responsive css-->
	<link rel="stylesheet" href="static/assets/css/responsive.css" />

	<!--Theme Colors css-->
	<!--<link rel="stylesheet" href="static/assets/css/white.css">-->



	<!--Old browser  JS-->
	<script src="static/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>

<body data-spy="scroll" data-target="#scrollspy">





	<div class="main_figur">

		<div class="preloader">
			<h2>Bells N Bottoms</h2>
			<div class="loaded hexdots-loader">Loading…</div>
		</div><!-- End off Preloader -->



		<div class="container">
			<div class="div-menu">
				<header class="cd-header">
					<a href="#home" class="brand-logo text-left"><img src="static/assets/images/logo.png" alt="" /></a>
					<a class="cd-menu-trigger" href="#main-nav"><span></span></a>
				</header>
			</div>

			<nav id="main-nav">
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a href="#about-menu">About Us</a></li>
					<li><a href="#portfolio">Trending</a></li>
					<li><a href="#service">Style UP</a></li>
					<li><a href="#team">Our Team</a></li>

				</ul>
				<a href="#" class="cd-close-menu">Close<span></span></a>
			</nav>
		</div>



		<!-- Home Section -->
		<section id="home" class="home">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">

						<div class="main_home text-center wow fadeInUp" data-wow-duration="700ms">
							<h1>Everything is designed. <br />
								Few things are designed well.</h1>

							</div>

							<div class="scrolldown">
								<a href="#about-scroll"><i class="fa fa-long-arrow-down"></i></a>
							</div>

						</div><!-- End of col-md-12 -->
					</div><!-- End of row -->
				</div><!-- End of Container -->

			</section><!-- End of Home Section -->


			<!-- About Section -->
			<section id="about-menu" class="about">
				<div class="container">
					<div class="row">
						<div class="col-md-12 ">
							<div class="main_about_area p-t-3">
								<div class="head_title m-y-3  wow fadeInUp">
									<div class="row">
										<div class="col-md-4">
											<h2>About Us</h2>
										</div>
										<div class="col-md-8" id="about-scroll">
											<h6 class="m-b-2">Bell-bottoms (or flares) are a style of trousers that become wider from the knees downward, forming a bell-like shape of the trouser leg. </h6>
											<p class="content-text">
												In the 1960s, bell-bottoms became fashionable for both men and women in Europe and North America. Often made of denim, they flared out from the bottom of the calf, and had slightly curved hems and a circumference of 18 inches (46 cm) at the bottom of each leg opening. They were usually worn with Cuban-heeled shoes, clogs, or Chelsea boots.
											</p>
										</div>
									</div>
								</div>
								<div class="about_content center p-b-3 wow fadeInUp" data-wow-duration="700ms">
									<div class="row">
										<div class="col-md-4">
											<div class="single_abt single_about m-y-3">
												<img src="static/assets/images/bell-icon-blue.png" alt="" />
												<h3>Bell-bottoms rocked yesterday.</h3>

											</div>
										</div>
										<div class="col-md-4">
											<div class="single_abt single_about m-y-3">
												<img src="static/assets/images/bell-icon-black.png" alt="" />
												<h3 class="text-center">Bell-bottoms are rocking today.</h3>

											</div>
										</div>
										<div class="col-md-4">
											<div class="single_abt single_about m-y-3">
												<img src="static/assets/images/bell-icon-white.png" alt="" />
												<h3>Bell-bottoms will rock tomorrow.</h3>

											</div>
										</div>

									</div>
								</div>
							</div>
							<hr />
						</div><!-- End of col-md-12 -->
					</div><!-- End of row -->
				</div><!-- End of Container-fluid -->
			</section><!-- End of Home Section -->

			<!-- Portfolio Section -->
			<section id="portfolio" class="portfolio">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="main_portfolio_area">
								<div class="head_title m-y-3 p-y-3 wow fadeInUp">
									<div class="row">
										<div class="col-md-4">
											<h2>Trending</h2>
										</div>
										<div class="col-md-8">
											<h6 class="m-b-2">Bell-bottoms are back and we couldn't be more happier!</h6>
											<p class="content-text">
												Have a look at what's been trending since the 60's. Peek into our gallery of the trendy people who love to rock in their bell-bottoms.

											</p>
										</div>
									</div>
								</div>

								<div class="main_portfolio_content">
									<div class="row">
										<div class="col-md-5 col-xs-12">
											<div class="row">
												<div class="col-md-4  col-xs-12">
													<div class="single_portfolio">
														<img src="static/assets/images/example2.jpg" alt="" />
														<div class="single_portfolio_overlay">
															<div class="icon_area text-center">
																<a href="static/assets/images/example2.jpg" class="gallery-img"><img src="static/assets/images/plus.png" alt="" /></a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-8  col-xs-12">
													<div class="single_portfolio">
														<img src="static/assets/images/example8.jpg" alt="" />
														<div class="single_portfolio_overlay">
															<div class="icon_area text-center">
																<a href="static/assets/images/example8.jpg" class="gallery-img"><img src="static/assets/images/plus.png" alt="" /></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-8  col-xs-12">
													<div class="single_portfolio">
														<img src="static/assets/images/example6.jpg" alt="" />
														<div class="single_portfolio_overlay">
															<div class="icon_area text-center">
																<a href="static/assets/images/example6.jpg" class="gallery-img"><img src="static/assets/images/plus.png" alt="" /></a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-4  col-xs-12">
													<div class="single_portfolio">
														<img src="static/assets/images/example7.jpg" alt="" />
														<div class="single_portfolio_overlay">
															<div class="icon_area text-center">
																<a href="static/assets/images/example7.jpg" class="gallery-img"><img src="static/assets/images/plus.png" alt="" /></a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12  col-xs-12">
													<div class="single_portfolio">
														<img src="static/assets/images/example4.jpg" alt="" />
														<div class="single_portfolio_overlay">
															<div class="icon_area text-center">
																<a href="static/assets/images/example4.jpg" class="gallery-img"><img src="static/assets/images/plus.png" alt="" /></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-4  col-xs-12">
											<div class="single_portfolio">
												<img src="static/assets/images/example1.jpg" alt="" />
												<div class="single_portfolio_overlay">
													<div class="icon_area text-center">
														<a href="static/assets/images/example1.jpg" class="gallery-img"><img src="static/assets/images/plus.png" alt="" /></a>
													</div>
												</div>
											</div>
											<div class="single_portfolio height_1">
												<img src="static/assets/images/example3.jpg" alt="" />
												<div class="single_portfolio_overlay">
													<div class="icon_area text-center">
														<a href="static/assets/images/example3.jpg" class="gallery-img"><img src="static/assets/images/plus.png" alt="" /></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3  col-xs-12">
											<div class="single_portfolio height_1">
												<img src="static/assets/images/example5.jpg" alt="" />
												<div class="single_portfolio_overlay">
													<div class="icon_area text-center">
														<a href="static/assets/images/example5.jpg" class="gallery-img"><img src="static/assets/images/plus.png" alt="" /></a>
													</div>
												</div>
											</div>

											<div class="single_portfolio">
												<img src="static/assets/images/example9.jpg" alt="" />
												<div class="single_portfolio_overlay">
													<div class="icon_area text-center">
														<a href="static/assets/images/example9.jpg" class="gallery-img"><img src="static/assets/images/plus.png" alt="" /></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div><!-- End of main Portfolio area -->
							<hr />
						</div><!-- End of col-md-12 -->
					</div><!-- End of row -->
				</div><!-- End of container -->
			</section><!-- End of Tobias Section -->

			<section id="service" class="service colorsbg" >
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="main_service_area">
								<div class="head_title m-y-3 p-t-3 wow fadeInUp">
									<div class="row">
										<div class="col-md-4">
											<h2>Style UP </h2>
										</div>
										<div class="col-md-8">
											<h6>It's now time to break up your skinny jeans and make way for the most happening comeback of bell-bottoms.We know it is really difficult to be trendy and to help you with this we are here providing you with all the trendy bell bottoms from all your favourite online stores all under one roof. So let's get the vintage look and winged eyeliner on point. </h6>
											</div>
										</div>
									</div>
									<div class="main_service_content" style=" background: #000000;">
										<div class="single_service_area m-t-3 p-t-2" >
											<div class="row">
												<div class="col-md-6 no-padding">
													<div class="signle_service_left text-sm-center wow fadeInleft">
														<a href="" id="amazon"><img src="static/assets/images/amazon.jpg" alt="" /></a>
													</div>
												</div>
												<div class="col-md-5 col-md-push-1">
													<div class="single_service p-r-1 wow fadeInUp">
														<h2 class="m-b-2">Amazon</h2>
														<p>Amazon has brought to you a whole new range of those retro flares with a look and feel of today's fashion. </p>

															<p>So be ready to rock in the retor look and just get your <a href="" id="amazon"> Bell-Bottoms</a> today.</p>

															</div>
														</div>
													</div>
												</div><!-- End of single service area -->

												<div class="single_service_area  m-t-3 p-t-3">
													<div class="row">
														<div class="col-md-6 col-md-push-6 no-padding">
															<div class="signle_service_left text-sm-center wow fadeInRight">
																<a href="" id="myntra"><img src="static/assets/images/myntra.jpg" alt="" /></a>
															</div>
														</div>

														<div class="col-md-5 col-md-pull-6">
															<div class="single_service single_service_left_text wow fadeInUp">
																<h2 class="m-b-2">Myntra </h2>
																<p >Want to style up? </p>
																<p>Then What are you waiting for? Have a look at the unique range of <a href="" id="myntra">Bell-Bottoms</a> brought to you by none other than Myntra.</p>


																	</div>
																</div>

															</div>
														</div><!-- End of single service area -->

														<div class="single_service_area m-t-3 p-t-3">
															<div class="row">
																<div class="col-md-6  no-padding">
																	<div class="signle_service_left text-sm-center wow fadeInleft">
																		<a href="" id="lifestyle"><img src="static/assets/images/lifestyle.png" alt="" /></a>
																	</div>
																</div>
																<div class="col-md-5 col-md-push-1">
																	<div class="single_service p-r-1 wow fadeInUp">
																		<h2 class="m-b-2">Lifestyle </h2>
																		<p>Retros are back again and this time have got a lot more trendy.</p>

																			<p>So style up yourself and be more trendy with this beautiful collection of <a href="" id="lifestyle"> Bell-Bottoms</a> from Lifestyle.</p>

																			</div>
																		</div>
																	</div>
																</div><!-- End of single service area -->


															</div><!-- End of main service content -->

														</div><!-- End of main service area -->
														<hr />
													</div><!-- End of col-md-12 -->
												</div><!-- End of row -->
											</div><!-- End of container -->
										</section><!-- End of Service Section -->


										<!-- Team Section -->
										<section id="team" class="team">
											<div class="container">
												<div class="row">
													<div class="main_team_area m-t-3">
														<div class="head_title m-y-3  wow fadeInUp">
															<div class="row">
																<div class="col-md-4">
																	<h2>Our Team</h2>
																</div>
																<div class="col-md-8">
																	<h6>Our team is young, dynamic and fashionable.</h6>
																	</div>
																</div>
															</div>

															<div class="main_team_content wow fadeInUp">
																<div class="col-md-3 col-xs-12">
																	<div class="single_team m-t-2">

																		<img src="static/assets/images/team/manali_kanthi.jpg" alt="" />
																		<div class=" text-center">
																			<h5>Manali Kanthi</h5>
																			<p>SYBMM</p>
																		</div>
																	</div>
																</div><!-- End of col-md-4 -->


																<div class="col-md-3 col-xs-12">
																	<div class="single_team  m-t-2">

																		<img src="static/assets/images/team/prajakt_amin.jpg" alt="" />
																		<div class=" text-center">
																			<h5>Prajakt Amin</h5>
																			<p>SYBMM</p>
																		</div>
																	</div>
																</div><!-- End of col-md-4 -->



																<div class="col-md-3 col-xs-12">
																	<div class="single_team m-t-2">

																		<img src="static/assets/images/team/raashi_bhide.jpg" alt="" />
																		<div class=" text-center">
																			<h5>Raashi Bhide</h5>
																			<p>SYBMM</p>
																		</div>
																	</div>
																</div><!-- End of col-md-4 -->

																<div class="col-md-3 col-xs-12">
																	<div class="single_team  m-t-2">

																		<img src="static/assets/images/team/rachana_saroj.jpg" alt="" />
																		<div class=" text-center">
																			<h5>Rachana Saroj</h5>
																			<p>SYBMM</p>
																		</div>
																	</div>
																</div><!-- End of col-md-4 -->


																<div class="col-md-3 col-xs-12">
																	<div class="single_team  m-t-2">

																		<img src="static/assets/images/team/aditya_chalke.jpg" alt="" />
																		<div class=" text-center">
																			<h5>Aditya Chalke</h5>
																			<p>SYBMM</p>
																		</div>
																	</div>
																</div><!-- End of col-md-4 -->

																<div class="col-md-3 col-xs-12">
																	<div class="single_team  m-t-2">

																		<img src="static/assets/images/team/devang_malvankar.jpg" alt="" />
																		<div class=" text-center">
																			<h5>Devang Malvankar</h5>
																			<p>SYBMM</p>
																		</div>
																	</div>
																</div>
																<!-- End of col-md-4 -->

																<div class="col-md-3 col-xs-12">
																	<div class="single_team  m-t-2">

																		<img src="static/assets/images/team/shreyash_patil.jpg" alt="" / class="">
																		<div class=" text-center">
																			<h5>Shreyash Patil</h5>
																			<p>SYBMM</p>
																		</div>
																	</div>
																</div><!-- End of col-md-4 -->
															</div>
														</div><!-- End of main Team area -->
													</div><!-- End of row -->
												</div><!-- End of container -->
											</section><!-- End of Team Section -->

											<!-- Contact Section -->
											<section id="contactus" class="contactus colorsbg">

												<div class="main_contact_area ">

													<!-- Copyright -->

													<div class="main_footer">


														<div class="copyright_text col-md-4">
															<p class=" wow fadeInRight animated" data-wow-duration="1s">Licensed under <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">creative commons</a></p>

														</div>

														<div class="col-md-4 no-padding center">
															<div class="scrollup center">
																<a href="#"><i class="fa fa-chevron-up"></i></a>
															</div>
														</div>
														<div class="copyright_text col-md-4">
															<p class=" pull-right wow fadeInRight animated" data-wow-duration="1s">Template credits<a target="_blank" href="https://bootstrapthemes.co">Bootstrap Themes</a></p>
														</div>
													</div>

													<!-- End of row -->
												</div>
												<!-- End of main contact area -->
											</section>
											<!-- End of Contactus Section -->





										</div>



										<script src="static/assets/js/vendor/jquery-1.11.2.min.js"></script>
										<script src="static/assets/js/vendor/bootstrap.min.js"></script>

										<!-- Compiled and minified JavaScript -->
										<script src="static/assets/js/cdnjs-materialize.min.js"></script>
										<script src="static/assets/js/jquery.easing.1.3.js"></script>
										<script src="static/assets/js/materialize.js"></script>
										<script src="static/assets/js/jquery.magnific-popup.js"></script>
										<!-- <script src="http://maps.google.com/maps/api/js"></script>
										<script src="static/assets/js/gmaps.min.js"></script>
										<script>
										var map = new GMaps({
										el: '.ourmap',
										lat: -12.043333,
										lng: -77.028333,
										scrollwheel: false,
										zoom: 15,
										zoomControl: true,
										panControl: false,
										streetViewControl: true,
										mapTypeControl: false,
										overviewMapControl: false,
										clickable: false,
										styles: [{'stylers': [{'hue': '#000'}, {saturation: -200},
										{gamma: 0.50}]}]
									});
									map.addMarker({
									lat: -12.043333,
									lng: -77.028333
								});

							</script> -->
							<script type="text/javascript">
							$("#amazon").on("click",function(){
								 window.open('https://www.amazon.in/s/ref=nb_sb_noss?url=search-alias%3Dapparel&field-keywords=bell+bottoms','_blank');
							 });
							 $("#myntra").on("click",function(){
 								 window.open('https://www.myntra.com/flared-jeans?extra_search_param=isAutoSuggestEntry%3Atrue%3A%3Aid%3Aflared-jeans','_blank');
 							 });
							 $("#lifestyle").on("click",function(){
 								 window.open('http://www.lifestylestores.com/search/?q=flared%20pants','_blank');
 							 });
							</script>
							<script src="static/assets/js/plugins.js"></script>
							<script src="static/assets/js/main.js"></script>

						</body>
						</html>
